@media only screen and (min-width: 1px) and (max-width: 499px) {
    body {
        font-family: 'Bubbler One', sans-serif;
    }
    ul li {
        padding: 5px;
        border-bottom: 1px solid black;
        width: 100%;
    }
    ul li a {
        text-align: left;
    }

    .icono {
        color: white;
        font-size: 30px;
        text-align: right;
        margin-right: 10px;

    }
    .menu {
        background-color: #333;
        flex-direction: column;
    }
    ul li.detalle {
        display: block;
    }
    ul li.normal {
        display: none;
    }
    ul li.normal01 {
        display: visibility;
    }
}

